<h1>{{titulo}}</h1>

<form [formGroup]="form" (ngSubmit)="btnAction()">
    <label>Titulo:</label>
    <p>
        <input type="text" formControlName="title">
        <span *ngIf="submitted && form.controls.title.errors?.required">Campo requerido</span>
    </p>

    <div *ngIf="isEdit">
        <label>Sube una foto:</label>
        <p>
            <input type="file" placeholder="Imagen..." (change)="fileChangeEvent($event)">
        </p>
    </div>

    <button type="submit">Actualizar</button>
    <button type="button" [routerLink]="['/album', albumId]">Cancelar</button>

</form>